.product-index-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.index-header-container {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.index-header-text {
  width: 15%;
  font-size: 30px;
  font-weight: bold;
  margin-left: 1.5%;
  padding-right: 20px;
}

.index-header-img {
  width: 85%;
}
