.bag-index-page {
  display: flex;
  margin-top: 25px;
}

.bag-index-page-left {
  width: 70%;
  margin-right: 5%;
}

.bag-index-page-right {
  width: 25%;
}

.bag-index-header {
  display: flex;
}

.bag-index-header h2 {
  font-size: 26px;
  font-weight: bold;
}

.bag-index-header p {
  font-size: 26px;
}

.bag-index-summary-header {
  font-size: 26px;
  font-weight: bold;
}

.bag-index-summary-subtotal-container, .bag-index-summary-shipping-container, .bag-index-summary-total-container {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(222, 222, 222);
}

.bag-index-summary-total-container {
  font-weight: bold;
}

#checkout-button {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  padding: 10px;
  background-color: #d31334;
  color: white;
  text-align: center;
}

#checkout-button:hover {
  background-color: #b0102b;
}

.bag-index-sign-in-message {
  margin-top: 15px;
  font-size: 16px;
}

.checkout-sign-in-message {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  padding: 10px;
  background-color: #d31334;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}