.user-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.user-button {
  border: none;
  background-color: f1f2f4;
  display: inline-block;
  position: relative;
  font-size: 16px;
  padding: 5px;
}

.user-button:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #d31334;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.user-button:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* .user-button:hover {
  border-bottom: 1px solid red;
} */