.checkout-confirmation-container {
  margin-top: 25px;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.checkout-confirmation-header h2 {
  font-size: 30px;
  font-weight: bold;
}

#continue-shopping-button {
  width: 250px;
  height: 35px;
  border-radius: 5px;
  padding: 10px;
  background-color: #d31334;
  color: white;
  text-align: center;
  margin-top: 15px;
}

#continue-shopping-button:hover {
  background-color: #b0102b;
}

.checkout-errors {
  color: #d31334;
  margin-top: 5px;
}