.colour-buttons-containter {
  margin-top: 25px;
}

.size-buttons-containter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.size-buttons-containter h2 {
  width: 100%;
}

.size-button-unchecked {
  border: 1px solid gray;
  padding: 5px;
  min-width: 30px;
  min-height: 30px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.size-button-checked {
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 5px;
  min-width: 30px;
  min-height: 30px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.colour-button-unchecked {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 5px;
  outline: 2px solid rgb(205, 205, 205);
}

.colour-button-checked {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 5px;
  outline: 2px solid black;
  outline-offset: 3px;
}

.add-to-bag-container {
  margin-top: 25px;
}

#add-to-bag-button {
  width: 60%;
  height: 35px;
  border-radius: 5px;
  padding: 10px;
  background-color: #d31334;
  color: white;
  text-align: center;
}

#add-to-bag-button:hover {
  background-color: #b0102b;
}

.add-to-bag-form-errors {
  color: #d31334;
  margin-top: 5px;
}