.bag-preview-index-item {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.bag-preview-index-item-img {
  width: 20%;
  margin-right: 2%;
}

.bag-preview-index-item-right {
  width: 77%;
}

.bag-preview-index-item-header {
  display: flex;
  justify-content: space-between;
}

.bag-preview-index-item-header-text {
  width: 95%;
  font-weight: bold;
}

.delete-button-container {
  width: 5%;
}

.bag-preview-index-item-qty-price {
  display: flex;
  justify-content: space-between;
}

.bag-preview-index-item-details p {
  margin-top: 3px;
}