.edit-cart-form-container {
  display: flex;
  width: 100%;
}

.edit-cart-img {
  width: 49%;
  margin-right: 2%;
}

.edit-cart-form-right {
  width: 49%;
}

.edit-cart-size-buttons-containter h2 {
  width: 100%;
}

.edit-cart-size-buttons-containter {
  display: flex;
  width: 100%;
}