.main-nav-container {
  background-color: white;
  height: 75px;
  width: 100%;
  /* width: 100vw; */
  /* margin-left: -5vh; */
  display: flex;
  font-size: 14px;
  align-items: center;
}

#womens-li, #mens-li, #accessories-li {
  font-weight: bold;
}

#logo-img {
  width: 40px;
  margin-right: 10px;
  margin-left: 50px;
}

.main-nav-li {
  display: flex;
}

.main-nav {
  float: right;
}

#womens-li, #mens-li, #accessories-li {
  display: inline-block;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 1px;
}

#womens-li:after, #mens-li:after, #accessories-li:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #d31334;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#womens-li:hover:after,
#mens-li:hover:after,
#accessories-li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.category-li,
.subcategory-li {
  display: inline-block;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 1px;
}

.category-li:after,
.subcategory-li:after {
  content: '';
  position: absolute;
  width: 25px;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #d31334;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.category-li:hover:after,
.subcategory-li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.womens-dropdown, .mens-dropdown, .accessories-dropdown {
  display: none;
  position: absolute;
  /* width: 100vw; */
  /* margin-left: -5vw; */
  width: 300px;
  z-index: 1;
  background-color: white;
  padding-top: 30px;
  top: 17px; /* positions absolute */
}

.bag-preview-sidebar {
  display: none;  
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 350px;
  right: 40px;
  padding: 20px;
  font-size: 14px;
  border: 1px solid rgb(222, 222, 222);
}

.bag-icon-container:hover .bag-preview-sidebar{
  display: block;
}

#womens-li:hover .womens-dropdown {
  display: block;
}

#mens-li:hover .mens-dropdown {
  display: block;
}

#accessories-li:hover .accessories-dropdown {
  display: block;
}

.womens-list li,
.mens-list li,
.accessories-list li {
  display: block;
  margin-bottom: 15px;
}

.category-li {
  font-size: 12px;
}

.subcategory-li {
  font-weight: normal;
}

.bag-icon-container {
  margin-left: auto;
  margin-right: 30px;
  font-size: 25px;
  cursor: pointer;
}

.bag-icon {
  width: 35px;
}

.bag-icon-badge {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  background-color: #d31334;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  color: white;
  top: 60px;
  right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
